<p><a href="#/login">Salir</a></a></p>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">Lista de productos</h3>
                    <!-- <p class="text-muted">Add class <code>.table</code></p> -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Cod</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Costo</th>
                                    <th>Categoría</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in products">
                                    <td>{{x.codigo}}</td>
                                    <td>{{x.nombre}}</td>
                                    <td>{{x.decripcion}}</td>
                                    <td>{{x.costo}}</td>
                                    <td>{{x.categoria}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>