<div class="login">
    <div class="container">
        <div class="col-lg-6 col-lg-offset-3">
            <h1 class="horizontal">Bienvenido</h1>
            <div class="inner-form">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">INICIO DE SESI&Oacute;N</a></li>
                </ul>
                <div ng-show="error" class="alert alert-danger">{{error}}</div>
                <div class="tab-content">
                    <div class="tab-pane active in fade" id="tab1">
                        <div class="panel-group">
                            <form role="form" ng-submit="login()" role="form">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label>Usuario</label>
                                        <div class="form-group">
                                            <input type="text" name="username" id="username" ng-model="username" required class="form-control">
                                            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <label>Clave</label>
                                        <div class="form-group">
                                            <input type="password" name="password" id="password" class="form-control" ng-model="password" required>
                                            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Contrase&ntilde;a incorrecta</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <button type="submit" class="btn btn-default" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">
                                            <span>INICIAR</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>   
    </div>   
</div>