@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');

.login{
   font-family: 'Josefin Sans', sans-serif;
   background: #2c3346; 
   padding:60px 0px;
}

h1{
    font-weight:600;
    font-family: 'Josefin Sans', sans-serif;
    text-transform:capitalize;
    text-align:center;
    color:#FFF;
    margin:40px 0px;
}

.inner-form{
    background:#FFF;
    padding:80px;
    border-radius:10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

label{
    font-weight:400;
    font-size:15px;
}

/*.form-control {
    background-color: #f5f5f5;
    box-shadow: none;
    color: #565656;
    font-size:14px;
    padding:30px 10px;
    margin-bottom:30px;
}*/

.btn{ 
    background: #36d1dc;
    background: -webkit-linear-gradient(to right, #36d1dc, #5b86e5);
    background: linear-gradient(to right, #36d1dc, #5b86e5); 
    color: #FFF;
    border-radius: 6px;
    padding: 20px 40px;
    margin:0 auto;
    display:table;
}

.forgot{
    text-align:center;
    margin-top:30px;
    font-size:15px;
    text-decoration: underline;
}

.nav-tabs{
    border: none;
    margin: 0 auto;
    display: table;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
     border: none;
     font-size:16px;
}

.nav>li>a{
    font-size: 16px;
    color: #3ec2de;
}

footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
}
footer a {
  color: #f5f5f5;
}
footer a:hover {
  color: #777;
  text-decoration: none;
} 